body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar */
.nav-tab {
  width: 100%;
  height: 8px;
  background-color: #00e5b7;
}

.navbar {
  margin: 24px 8px 0px;
  padding: 16px 32px;
}

.navbar-nav {
  margin: auto;
}

.nav-item.nav-link.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}

.btn-outline-danger.signout {
  font-weight: bold;
  color: #fa6154;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand .code-pay {
  color: #828587;
  font-weight: lighter;
}

.navbar-nav a {
  font-weight: bold;
}

.btn-outline-light.signin {
  font-weight: bold;
  color: #a3a7a9;
}

.btn-primary.signup {
  font-weight: bold;
}

/* Prediction */
.page-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #6366f1;
}

.font-page {
  color: #ffffff;
}

.custom-margin-top {
  margin-top: 24px;
}

.custom-margin-bottom {
  margin-bottom: 24px;
}

.section-tab {
  width: 100%;
  height: 1px;
  background-color: #bdbfc1;
}

.custom-card-top {
  border-top: 4px solid #00e5b7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.head {
  text-align: center;
}

.head h3 {
  font-size: 32px;
}

.alert.alert-info {
  background-color: #f1f5f9;
  height: 240px;
}

/* Optional: Change text color for better contrast */
.alert.alert-info h2 {
  color: #333; /* Change text color to a suitable color */
}

.fa-wallet {
  color: #7886d7;
}

.result {
  color: #312e81;
  margin-top: 10%;
}

.fa-circle-dot {
  color: #312e81;
}

.icon-text-spacing {
  font-weight: bold;
  margin-left: 8px;
}

.result-text-spacing {
  margin-left: 12px;
  font-weight: bold;
}

#codeYears,
#codeYearsPro,
#inputEdl,
#inputLearn,
#inputCountry,
#inputDeveloper,
#inputAge,
#inputLanguage,
#inputDatabase,
#inputCloudPlatform,
#inputWebFramework {
  background-color: #f1f5f9;
}

.countries {
  background-color: #7886d7;
}

.btn-primary {
  background-color: #6366f1;
  border-color: #6366f1;
}
/* Footer */
footer {
  border-top: 8px solid #00e5b7;
  margin-top: auto;
  background-color: #1e293b;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  padding: 30px;
}
