body {
    margin: 0;
    padding: 0;
    background-color: #e8eaed;
}

/* Navbar */
.navbar-brand {
    font-size: 22px;
}

.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: center;
}

.signin {
    margin-right: 10px;
}



/* Main */
.card-body{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo{ 
    width: auto;
    height: 100%;
}





.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}